.star{
    width: 300px;
}

.frame{
    display:inline-block;
    border-style: inset;
    border-width: 20px;
    border-color: brown;
    padding:20px;
    margin:20px;
    background-color: grey;
    box-shadow: 10px 10px 5px #888888;
}
.collage-row{
    display:block;
    height:100px;
    width:300px;
    margin:5px;
    padding:10px;
    background-color: purple;
    border-color: white;
    border-style: solid;
    border-width:1px;
}
.collage-row img{
    width:24%;
    height:100%;
}

.frame.collage{
    position:absolute;
    top:300px;
    left:300px;
    z-index:-1;
}

#queen-b{
    position: absolute;
}

#hova{
    position: absolute;
    top:650px;
    left:650px;
}
